<%= turbo_stream_from :rooms %>
<%= turbo_frame_tag :rooms do %>
  <%= render @rooms %>
<% end %>

<% if current_user.present? %>
  <%= form_with model: @new_room, class: "mt-4" do |f| %>
    <div class="flex">
      <div class="flex-1 w-32 mt-4">
      <%= f.text_field :title, placeholder: "Room Title"%>
      <%= f.submit "Create room", class: "group relative w-full mt-4 justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer basis-1/12" %>
      </div>
      <div class="flex-1 w-32 mt-4 ml-4 text-sm font-bold text-gray-900">
        <%= turbo_stream_from :notifications %>
        <div id="notifications">
          <p class="underline decoration-pink-500/30">Notifications:</p>
          <%= render @notifications %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
